# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/swe-worker-*.js
public/swe-worker-*.js.map
public/fallback-*.js

# testing
coverage
playwright-report
test-results

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
